<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <th scope="row"><%= article.id %></th>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.created_at %></td>
      <td><%= article.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
